@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card text-center">
                <img src="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-loop-de-feedback_114360-17629.jpg?w=740" alt="Imagem 1" class="card-img-top">
                <div class="card-body">
                    <a asp-controller="Clientes" asp-action="Index" class="btn btn-dark">Lista de Clientes</a>
                </div>
            </div>
        </div>
    </div>
</div>
